import React, { Component } from 'react';
import './{{dashCase name}}.scss';


export default class {{properCase name}} extends Component {
	render() {
		const {} = this.props;

		return (
			<div className="{{dashCase name}}">
				Hello {{properCase name}}
			</div>
		);
	}
}